/* <!--=======================================NAV============================================--> */
img{
    width: 4%;
    height: 4%;
}
nav{
    background-color: rgba(117,50,249,255);
}
nav a{
    text-decoration: none;
    color: white;
}
nav input{
    width: 17em;
    background-color: rgba(105,45,223,255);
    border: 1px solid rgba(255, 255, 255, 0.527) ;
    border-radius: 10px;
    height: 37px;
    padding: 10px;
}
#searchr{
    padding-left: 15%;
}
#searchl{
    padding-right: 10%;
}
#navbarDarkDropdownMenuLink{
    border-left: 1px solid rgba(255, 255, 255, 0.527);
    border-right: 1px solid rgba(255, 255, 255, 0.527);
    padding-left: 10px;
    padding-right: 10px;
}
.hover-effect:hover {
    filter: brightness(120%);
    box-shadow:0 0 20px #7e1e9c;
}
/* <!--=======================================/NAV============================================--> */

/* <!--=======================================contenu============================================--> */
ul{
    list-style: none;
}
#menu{
    border-right: 1px solid rgb(209, 203, 203);
}
#alerg{ 
    background-color: rgba(209,231,221,255); 
    border-color: rgba(147,175,162,255);
    float: right;
}
#alerd{ 
    border-color: rgba(147,175,162,255);
    float: right;
}
#netgear{
    width: 65%;
}
#custfo{
    width: 100%;
}
#greenfo{
    width: 100%;
}
#scss{
    width: 100%;
}
#blurry{
    width: 100%;
}

#btn{
    border-color: rgb(226, 220, 220);
    color: rgba(104,164,254,255);
    font-size: large;
}
#butn{
    border: 1px solid;
    border-color: rgb(226, 220, 220);
}
#html{
    width: 100%;
}
/* <!--=======================================/contenu============================================--> */

#footer{
    background-color: rgba(248,249,250,255);
    padding-top: 4%;
}